body {
    font-family: Brush Script MT, Brush Script Std, cursive;
    background-image: url('/img/background.jpg');
    text-align: center;
    font-size: 32px;
}
button {
    font-family: Brush Script MT, Brush Script Std, cursive;
    border-size: 30px;
    border-radius: 4px;
    font-size: 18px;
}
button:hover {
    background-color: #4CAF50; /* Green */
    color: green;
}
#differentPassword {
    color: red;
}