<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>UserRegistration3Servlet</servlet-name>
    <servlet-class>controller.user.UserRegistration3Servlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserRegistration3Servlet</servlet-name>
    <url-pattern>/register3</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>controller.product.AddProductServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/addProducts</url-pattern>
  </servlet-mapping>

  <env-entry>
    <description>URL to Database</description>
    <env-entry-name>CONFIG_PROPERTIES_DATABASE_URL</env-entry-name>
    <env-entry-value>jdbc:postgresql://localhost:5432/shop</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

  <env-entry>
    <description>Login to Database</description>
    <env-entry-name>CONFIG_PROPERTIES_DATABASE_LOGIN</env-entry-name>
    <env-entry-value>postgres</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

  <env-entry>
    <description>PASSWORD to Database</description>
    <env-entry-name>CONFIG_PROPERTIES_DATABASE_PASSWORD</env-entry-name>
    <env-entry-value>test</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>

  <listener>
    <listener-class>controller.jndiExample.StartupConfiguration</listener-class>
  </listener>

</web-app>
