<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>controller.RegistrationUserServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>controller.ItemAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/items</url-pattern>
  </servlet-mapping>

</web-app>
